footer{
    background-color: $primary;
    padding: $m-pad;

    .footer{
        margin: auto;
        width: 80%;
        @include flex-row;
        justify-content: space-between;

        *{   
            color: $default;
        }
    }
}