footer{
    background-color: $primary;
    padding-block: $m-pad;

    .footer{
        margin: auto;
        width: 80%;
        @include flex-row;
        justify-content: space-between;

        *{   
            color: $default;
        }

        @include mobile{
            width: 90%;
            flex-direction: column;
            text-align: center;

            img{
                width: 80px;
            }
        }

        @include tablet{
            img{
                width: 100px;
            }
        }
    }
}