header{
    background-color: $primary;
    height: 65vh;
    @include flex-row;
    justify-content: flex-start;
    background-image: url('/noun-105.png'), url('/noun-205.png'), url('/noun-227.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 5%, 20%, center;
    
    @include mobile{
        background-position-x: left, right, center;
        background-size: 100px;
        height: 50vh;
    }
    
    @include tablet{
        background-size: 150px;
        background-position-x: 5%, 30%, right;
    }

    div{
        width: 80%;
        margin: auto;

        h1{
            margin-bottom: $xl-margin;

            @include mobile{
                margin: 0;
            }
        }
    }

    *{
        color: $default;
    }

}