nav{
    background-color: $primary;
    @include flex-row;
    justify-content: space-around;
    padding-block: $s-pad;

    *{
        color: $default;

        @include mobile{
            display: none;
        }
    }

    #toggler{
        display: none;
        cursor: pointer;

        @include mobile{
            display: block;
            margin-left: auto;
        }
    }

    @include mobile{
        flex-direction: column;
        padding-inline: $xs-pad;

        img{
            width: 60px;
            display: none;
        }
    }
    

    div{
        width: 100px;
    }

    button{
        a{
            background-color: $default;
            color: $dark;
        }
    }

    ul{
        @include flex-row;

        @include mobile{
            flex-direction: column;
            display: none;

        }

        .cta{
            border: solid $default;
            padding: 0.3rem 0.5rem;
            @include flex-row;
            gap: 0;
            cursor: pointer;

            img{
                width: 20px;
                margin-inline: 0.2rem;
            }
        }

    }
}