section{
    margin-block: $xl-margin;

    @include mobile{
        margin-block: $l-margin;
    }
    
    .section{
        margin: auto;
        @include flex-row;
        width: 80%;

        @include mobile{
            width: 90%;
            flex-direction: column;
        }
        
        .text--container{
        @include flex-col;
        justify-content: flex-end;
        align-items: flex-start;
        width: 40%;

        @include mobile{
            width: 100%;
        }
        
        span{
            background-color: $secondary;
            padding-inline: $s-pad;
            color: $default;
            border-radius: $m-border-radius;
        }

        h2{
            text-transform: uppercase;
        }
    }
    
    .image--container{
        @include flex-col;
        width: 60%;

        @include mobile{
            width: 100%;
        }

        img{
            margin: auto;
            width: 80%;

            @include mobile{
                width: 100%;
            }
        }
    }
}
}