section{
    margin-block: $xl-margin;
    
    .section{
        margin: auto;
        @include flex-row;
        width: 80%;
        
        .text--container{
        @include flex-col;
        justify-content: flex-end;
        align-items: flex-start;
        width: 40%;
        
        span{
            background-color: $primary;
            padding-inline: $s-pad;
            color: $default;
            border-radius: $m-border-radius;
        }

        h2{
            text-transform: uppercase;
        }
    }
    
    .image--container{
        @include flex-col;
        width: 60%;

        img{
            margin: auto;
            width: 80%;
        }
    }
}
}